/* 
    |-- css
        |-- main.css
        |-- modules
            |-- init.css
            |-- utils.css
            |-- typography.css
            |-- grid-system.css
*/


@import "modules/init.css";
@import "modules/typography.css";
@import "modules/grid-system.css";
@import "modules/utils.css";

.container .row {
    margin-bottom: 21px;
}
/* 
.container .col {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 42px;
    background-color: #000;
    color: #fff;
} */
